[Unit]
Description=Process Zabbix send queue timer
ConditionPathIsDirectory=/var/spool/zabbix/zabbix_sender.d
ConditionFileIsExecutable=/usr/local/sbin/zabbix-sender

[Timer]
OnBootSec=5min
OnUnitInactiveSec=3min

[Install]
WantedBy=timers.target
